{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
  <h1 class="text-3xl font-bold mb-6">Lista de productos</h1>

  <div class="mb-4">
    <a href="{{ url_for('product_bp.create_product_form') }}"
       class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md shadow">
      Crear nuevo producto
    </a>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-sm">
      <thead class="text-left uppercase text-gray-300">
        <tr>
          <th class="px-4 py-2">Código</th>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Precio</th>
          <th class="px-4 py-2">Categoría</th>
          <th class="px-4 py-2">Acciones</th>
<th class="px-4 py-2">Imagen</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr class="hover:bg-white/10 transition">
          <td class="px-4 py-2">{{ p.code }}</td>
          <td class="px-4 py-2">{{ p.name }}</td>
          <td class="px-4 py-2">${{ p.price }}</td>
          <td class="px-4 py-2">{{ p.category }}</td>

<td class="px-4 py-2">
  {% if p.image_url %}
    <img src="{{ p.image_url }}" alt="img" class="w-20 h-20 object-cover rounded-md shadow">
  {% else %}
    <span class="text-gray-500 italic">Sin imagen</span>
  {% endif %}
</td>
          <td class="px-4 py-2 flex gap-2">
            <a href="{{ url_for('product_bp.edit_product_form', product_id=p.id) }}"
               class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-md">
              Editar
            </a>
            <button onclick="confirmDelete('{{ url_for('product_bp.delete_product', product_id=p.id) }}')"
                    class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded-md">
              Eliminar
            </button>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5" class="text-center py-4 text-gray-400">No hay productos aún.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
